body {
    margin: 0;
    padding: 0;

    background-color: #bee5f3;

    font-family: 'Nanum Gothic', sans-serif;
}

.join-container {
    margin: 117px 545px;
}

.join-form {
    width: 400px;
    height: 480px;

    border: 1px solid transparent;
    border-radius: 17px;

    background-color: white;
}

.join-slogan {
    text-align: center;
    margin-top: 20px;

    font-size: 12px;
    
    color: rgb(180, 180, 180);
}

.join-sns {
    margin-top: 20px;
    margin-bottom: 8px;
}

.join-sns-text, .join-email-text {
    padding-left: 23px;
    margin-bottom: 8px;
}

.join-sns-site {
    text-align: center;
    line-height: 35px;

    margin-bottom: 30px;
}

.join-google, .join-facebook, .join-Naver {
    display: inline-block;

    width: 355px;
    height: 35px;

    border-radius: 10px;

    margin-bottom: 8px;

    color: white;

    font-size: 15px;
}

.join-google {
    background-color: rgb(255, 85, 66);
}

.join-facebook {
    background-color: #3b5998;
}

.join-Naver {
    background-color: #2DB400;
}

.join-email-info {
    padding-left: 23px;
}

.email-input, .password-input, .password-re {
    width: 340px;
    height: 35px;

    padding-left: 10px;
    margin-bottom: 8px;

    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);
    outline: none;
}

.join-submit {
    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);

    width: 350px;
    height: 35px;

    text-align: center;
    line-height: 35px;

    color: rgb(122, 122, 122);
    
    margin-left: 23px;
    margin-top: 10px;
}

.join-submit:hover{
    background-color: rgb(201, 201, 201);
}