body {
    margin: 0;
    padding: 0;

    background-color: #bee5f3;
}

.title {
    font-family: Britannic;
    color: #63A7C1;
    font-size: 100px;

    text-align: center;

    margin-top: 230px;
}

.slogan {
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(246, 253, 255);

    font-size: 18px;

    margin-bottom: 80px;
}

.buttons {
    display:flex;
    justify-content: center;
}

.button-item{

    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(80, 133, 155);
    /*float: left*/

    /*margin-left: 50%;
    margin-right: 50%;*/

    width: 120px;
    height: 45px;

    border: #EAF8FD 3px solid;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    
    text-align: center;
    line-height: 45px;

    justify-content: center;

    margin: 0 10px;
}

.button-item:hover{
    background: #9ccee0;
}